:host:focus {
  outline: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}
.highlight {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  width: 100%;
}
.favorite {
  font-size: 1rem;
}
.best-seller {
  margin-left: 5px;
}
.image {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
}
.image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  box-sizing: border-box;
  padding: 5px;
}
.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 260px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.name {
  min-height: 70px;
  height: 100%;
}
.rating {
  min-height: 30px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.discount {
  min-height: 30px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.price {
  min-height: 30px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  margin-right: 20px;
}
.action {
  min-height: 80px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-button {
  border-radius: 4px;
}
.action-icon {
  margin-right: 5px;
  margin-left: -3px;
}
@media (max-width: 599.98px) {
  :host:focus {
    outline: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    width: 100%;
  }
  .favorite {
    font-size: 1rem;
  }
  .best-seller {
    margin-left: 5px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    min-height: 110px;
    height: 100%;
  }
  .rating {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }
  .price {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
  }
  .action {
    min-height: 80px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-button {
    border-radius: 4px;
  }
  .action-icon {
    margin-right: 5px;
    margin-left: -3px;
  }
}

@media (min-width: 600px) and (max-width: 959.98px) {
  :host:focus {
    outline: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 100%;
  }
  .favorite {
    font-size: 1rem;
  }
  .best-seller {
    margin-left: 5px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    box-sizing: border-box;
  }
  .name {
    min-height: 70px;
    height: 100%;
  }
  .rating {
    min-height: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    min-height: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
  }
  .price {
    min-height: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
  }
  .action {
    min-height: 90px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-button {
    border-radius: 4px;
  }
  .action-icon {
    margin-right: 5px;
    margin-left: -3px;
  }
}

@media (min-width: 960px) and (max-width: 1279.98px) {
  :host:focus {
    outline: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 100%;
  }
  .favorite {
    font-size: 1rem;
  }
  .best-seller {
    margin-left: 5px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 180px;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 280px;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
    box-sizing: border-box;
  }
  .name {
    min-height: 70px;
    height: 100%;
  }
  .rating {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .price {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
  }
  .action {
    min-height: 80px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-button {
    border-radius: 4px;
  }
  .action-icon {
    margin-right: 5px;
    margin-left: -3px;
  }
}

@media (min-width: 1280px) and (max-width: 1919.98px) {
  :host:focus {
    outline: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 100%;
  }
  .favorite {
    font-size: 1rem;
  }
  .best-seller {
    margin-left: 5px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 260px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    min-height: 70px;
    height: 100%;
  }
  .rating {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }
  .price {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-right: 20px;
  }
  .action {
    min-height: 80px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-button {
    border-radius: 4px;
  }
  .action-icon {
    margin-right: 5px;
    margin-left: -3px;
  }
}

@media (min-width: 1920px) {
  :host:focus {
    outline: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: 100%;
  }
  .favorite {
    font-size: 1rem;
  }
  .best-seller {
    margin-left: 5px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 160px;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 260px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    min-height: 70px;
    height: 100%;
  }
  .rating {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }
  .price {
    min-height: 30px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    margin-right: 20px;
  }
  .action {
    min-height: 80px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-button {
    border-radius: 4px;
  }
  .action-icon {
    margin-right: 5px;
    margin-left: -3px;
  }
}
