<div class="product">
  <div class="content">
    <div class="highlight">
      <app-favorite [id]='product.id' class='favorite'></app-favorite>
      <div class="tag">
        <app-best-seller-tag class='best-seller' *ngIf='bestSeller'></app-best-seller-tag>
      </div>
    </div>
    <div class="image"><img [src]='product.imageUrl' [alt]='product.name'></div>
    <div class="details">
      <div class='name' *ngIf="breakpoint === 'xsmall'">{{ product.name | limit : 100 }}</div>
      <div class='name' *ngIf="breakpoint === 'small'">{{ product.name | limit : 130 }}</div>
      <div class='name' *ngIf="breakpoint === 'medium'">{{ product.name | limit : 100 }}</div>
      <div class='name' *ngIf="breakpoint === 'large'">{{ product.name | limit : 100 }}</div>
      <div class='name' *ngIf="breakpoint === 'xlarge'">{{ product.name | limit : 120 }}</div>
      <div class="rating">
        <app-rating [rating]='rating' [reviews]='reviews '></app-rating>
      </div>
      <div class="discount">
        <app-discount *ngIf='discount' [id]='product.id'></app-discount>
      </div>
      <div class="price">
        <app-price [id]='product.id'></app-price>
      </div>
      <div class="action">
        <button class="action-button" (mousedown)='$event.stopPropagation();'
          (click)='$event.stopPropagation(); addToCart()' mat-raised-button color='primary' type="button">
          <mat-icon class='action-icon'>add_shopping_cart</mat-icon>Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
