@media (max-width: 599.98px) {
  .product {
    display: block;
    border-radius: 15px;
    box-shadow: 1px 1px rgb(227, 227, 253);
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .product::before {
    content: "";
    display: block;
    padding-top: 300%;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
  }
  .favorite {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 1rem;
  }
  .best-seller {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    height: 40%;
  }
  .rating {
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .price {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
  }
  .action {
    height: 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    height: 60%;
    margin: 0 2px;
  }
  .action-button {
    border-radius: 15px;
  }
  .action-icon {
    margin: 0px 5px;
  }
}

@media (min-width: 600px) and (max-width: 959.98px) {
  .product {
    display: block;
    border-radius: 15px;
    box-shadow: 1px 1px rgb(227, 227, 253);
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .product::before {
    content: "";
    display: block;
    padding-top: 170%;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
  }
  .favorite {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 1rem;
  }
  .best-seller {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    height: 25%;
  }
  .rating {
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .price {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .action {
    height: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    height: 60%;
    margin: 0 2px;
  }
  .action-button {
    border-radius: 15px;
  }
  .action-icon {
    margin: 0px 5px;
  }
}

@media (min-width: 960px) and (max-width: 1279.98px) {
  :host:focus {
    outline: none;
  }
  .product {
    display: block;
    border-radius: 15px;
    box-shadow: 1px 1px rgb(227, 227, 253);
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .product::before {
    content: "";
    display: block;
    padding-top: 220%;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
  }
  .favorite {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 1rem;
  }
  .best-seller {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    height: 35%;
  }
  .rating {
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .price {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .action {
    height: 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    height: 60%;
    margin: 0 2px;
  }
  .action-button {
    border-radius: 15px;
  }
  .action-icon {
    margin: 0px 5px;
  }
}

@media (min-width: 1280px) and (max-width: 1919.98px) {
  :host:focus {
    outline: none;
  }
  .product {
    display: block;
    border-radius: 15px;
    box-shadow: 1px 1px rgb(227, 227, 253);
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .product::before {
    content: "";
    display: block;
    padding-top: 180%;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
  }
  .favorite {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 1rem;
  }
  .best-seller {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    height: 35%;
  }
  .rating {
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .price {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .action {
    height: 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    height: 60%;
    margin: 0 2px;
  }
  .action-button {
    border-radius: 15px;
  }
  .action-icon {
    margin: 0px 5px;
  }
}

@media (min-width: 1920px) {
  :host:focus {
    outline: none;
  }
  .product {
    display: block;
    border-radius: 15px;
    box-shadow: 1px 1px rgb(227, 227, 253);
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  .product::before {
    content: "";
    display: block;
    padding-top: 160%;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .highlight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
  }
  .favorite {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 1rem;
  }
  .best-seller {
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .image {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px;
  }
  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .name {
    height: 25%;
  }
  .rating {
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .discount {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .price {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
  }
  .action {
    height: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    height: 60%;
    margin: 0 2px;
  }
  .action-button {
    border-radius: 15px;
  }
  .action-icon {
    margin: 0px 5px;
  }
}
