<div class="product">
  <div class="content">
    <div class="highlight">
      <div class="favorite">
        <mat-icon *ngIf='!favorite' color='primary'>favorite_border</mat-icon>
        <mat-icon *ngIf='favorite' color='primary'>favorite</mat-icon>
      </div>
      <div class="tag">
        <app-tag class="best-seller" type='best-seller' *ngIf='bestSeller'></app-tag>
      </div>
    </div>
    <div class="image"><img [src]='product.imageUrl' [alt]='product.name'></div>
    <div class="caption">
      <div class="title">
        <span>{{ product.name | limit }}</span>
      </div>
      <div class="details">
        <div class="rating">
          <app-rating [rating]='rating' [reviews]='reviews '></app-rating>
        </div>
        <div class="price">
          <span>{{ product.price + ' $'}}</span>
        </div>
      </div>
    </div>
    <div class="action">
      <button class="action-button" (click)='$event.stopPropagation()' mat-raised-button color='primary' type="button">
        <mat-icon class='action-icon'>add_shopping_cart</mat-icon>Add to Cart
      </button>
    </div>
  </div>
</div>
