:host {
  display: block;
  border-radius: 15px;
  box-shadow: 2px 2px rgb(227, 227, 253);
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
/* :host:hover {
  background-color: rgb(234, 242, 255);
}
:host:active,
:host:focus {
  background-color: rgb(220, 234, 253);
} */
.favorite {
  position: absolute;
}
.best-seller {
  position: absolute;
}
.product::before {
  content: "";
  display: block;
  padding-top: 200%;
}
.product .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.product .content .highlight {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.product .content .image {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}
.product .content .caption {
  box-sizing: border-box;
  display: block;
  height: 35%;
}
.product .content .action {
  box-sizing: border-box;
  display: flex;
  /* height: 15%; */
  justify-content: center;
  align-items: center;
}
.product .content .image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  box-sizing: border-box;
  margin: auto;
}
.title {
  height: 60%;
  margin: 0 2px;
}
.details {
  height: 40%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.price {
  font-size: 1.01rem;
  text-align: right;
  padding-right: 10px;
}
.discount {
  font-weight: lighter;
  margin:0px 10px;
  text-decoration: line-through;
}
@media (min-width: 600px) {
  :host:focus {
    outline: none;
  }
  .product {
    cursor: pointer;
  }
  .product:focus {
    outline: none;
  }
  .favorite {
    top: 15px;
    right: 15px;
    font-size: 1.1rem;
  }
  .best-seller {
    top: 15px;
    left: 15px;
    font-size: 0.8rem;
  }
  .product .content .caption {
    margin: 10px;
  }
  .product .content .image img {
    padding: 10px;
  }
  .action {
    margin-bottom: 15px;
  }
  .action-icon {
    margin-right:15px;
  }
  .action-button {
    border-radius: 25px;
  }
}
@media (max-width: 599px) {
  .favorite {
    top: 10px;
    right: 10px;
    font-size: 1rem;
  }
  .best-seller {
    font-size: 0.5rem;
  }
  .product .content .caption {
    margin: 5px;
  }
  .product .content .image img {
    padding: 5px;
  }
  .product .content .caption .details .rating .star mat-icon {
    font-size: small;
  }
}
