<mat-toolbar color='primary'>
  <mat-toolbar-row *ngIf='!mobile'>
    <div class="tablet-container">
      <div class="tablet-main">
        <div><button class='title' mat-button type="button" routerLink="/">Material 2021</button></div>
      </div>
      <div class="tablet-items">
        <form [formGroup]='form' (ngSubmit)='onSubmit()' class="tablet-search-form">
          <input class='tablet-search-input' placeholder="Search" type="text" aria-label="Product"
            formControlName="search" [matAutocomplete]="auto">
          <mat-autocomplete (ngSubmit)='onSearch()' (optionActivated)='onOptionSelected($event.option.value)'
            (optionSelected)='onOptionSelected($event.option.value)' #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon class="tablet-search-icon" matSuffix>search</mat-icon>
        </form>
        <!-- <input class="tablet-search-input" type="search"> -->
        <button type="button" mat-icon-button>
          <mat-icon [matBadge]='cartItemsCount' matBadgeColor='accent'>shopping_cart</mat-icon>
        </button>

        <button type='button' mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="mobile-row" *ngIf='mobile'>
    <div class="mobile-container">
      <div class="mobile-main">
        <button class="mobile-menu" mat-icon-button (click)='onToggle()'>
          <mat-icon>menu</mat-icon>
        </button>
        <div><button class="title" routerLink="/" type="button" mat-button>Material 2021</button></div>
      </div>
      <div class="mobile-items">
        <button type="button" mat-icon-button>
          <mat-icon [matBadge]='cartItemsCount' matBadgeColor='accent'>shopping_cart</mat-icon>
        </button>
        <button type="button" mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="mobile-row" *ngIf='mobile'>
    <form class="mobile-search-form">
      <mat-form-field floatLabel='never' class="mobile-search-field">
        <mat-icon class="mobile-search-icon" matSuffix>search</mat-icon>
        <mat-label class="mobile-search-label">Search</mat-label>
        <input type="search" aria-label="Search" matInput [formControl]="search" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
