<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <div class="container">
      <div class='menu'>
        <button mat-icon-button (click)='onToggle()' *ngIf="breakpoint === 'xsmall'">
          <mat-icon>menu</mat-icon>
        </button>
        <div><button class='title' routerLink="/" type="button" mat-button>Blunda</button></div>
      </div>
      <div class="items">
        <form class='form' [formGroup]='form' (ngSubmit)='onSubmit()' *ngIf="breakpoint !== 'xsmall'">
          <input type='text' class='search' (input)='onInput($event.target.value)' placeholder="Search"
            #trigger='matAutocompleteTrigger' formControlName='search' [matAutocomplete]='auto'>
          <mat-autocomplete (ngSubmit)='onSearch()' (optionActivated)='onOptionSelected($event.option.value)'
            (optionSelected)='onOptionSelected($event.option.value)' #auto='matAutocomplete'>
            <mat-option *ngFor='let option of options' [value]='option'>
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon class='icon'>search</mat-icon>
        </form>
        <button type="button" mat-icon-button routerLink='/cart'>
          <mat-icon [matBadge]='cartItemsCount' matBadgeColor='accent'>shopping_cart</mat-icon>
        </button>
        <button type="button" mat-icon-button routerLink='/login'>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="breakpoint === 'xsmall'">
    <div class='section'>
      <form class='form' [formGroup]='form' (ngSubmit)='onSubmit()'>
        <input type='text' class='search' (input)='onInput($event.target.value)' placeholder="Search"
          #trigger='matAutocompleteTrigger' formControlName='search' [matAutocomplete]='auto'>
        <mat-autocomplete (ngSubmit)='onSearch()' (optionActivated)='onOptionSelected($event.option.value)'
          (optionSelected)='onOptionSelected($event.option.value)' #auto='matAutocomplete'>
          <mat-option *ngFor='let option of options' [value]='option'>
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon class='icon'>search</mat-icon>
      </form>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
