<div class="container">
  <h1 class='title'>{{ product?.name }}</h1>
  <div class="highlight">
    <app-favorite [id]='product.id' class='favorite'></app-favorite>
    <div class="tag">
      <div class="best-seller" *ngIf='bestSeller'><span>Best Seller</span></div>
    </div>
  </div>
  <img class="image" [src]="product?.imageUrl" [alt]="product?.name" #preview>
  <div class="images">
    <img matRipple *ngFor='let img of productImages' (click)="preview.src = img" [src]="img">
  </div>
  <div class="details">
    <div class="rating">
      <app-rating [rating]='rating' [reviews]='reviews?.length'></app-rating>
    </div>
    <div class="price">
      <span>{{ product.price + ' $'}}</span>
    </div>
  </div>
  <div class="description">
    <p>{{ product?.description }}</p>
  </div>
  <h3 class="section-title">Customers reviews:</h3>
  <div class="reviews">
    <app-review class="review" *ngFor='let review of reviews' [review]='review'></app-review>
  </div>
  <h3 class="section-title">Related products:</h3>
  <div class="related-products">
    <app-product-item matRipple [routerLink]="'/product/' + product.id" class="product"
      *ngFor='let product of relatedProducts' [product]='product'></app-product-item>
  </div>
  <!-- <h3 class="section-title">Customers also viewed:</h3>
  <div class="customers-also-viewed-products">
    <app-product-item matRipple [routerLink]="'/product/' + product.id" class="product" *ngFor='let product of customersAlsoViewedProducts' [product]='product'></app-product-item>
  </div> -->
</div>
