@media (min-width: 600px) {
  .title {
    font-size: large;
    display: block;
    text-align: center;
    margin: 30px auto;
  }
  .container {
    margin: 30px 200px;
    margin-top: 40px;
    box-sizing: border-box;
  }
  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
    width: 700px;
  }
  .image {
    width: 100px;
    height: 100px;
  }
  .details {
    margin-left: 20px;
    width: 500px;
  }
  .quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .number {
    width: 100px;
    margin-right: 10px;
  }
  .number input {
    text-align: center;
  }
  .button {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .price {
    margin-right: 50px;
  }
  .line {
    width: 100%;
    margin: 15px;
    box-sizing: border-box;
  }
  .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 700px;
    padding-right: 120px;
    box-sizing: border-box;
    font-size: large;
    margin-top: 30px;
  }
  .caption {
    margin: 0 50px;
  }
  .cupon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .checkout {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 599px) {
  .title {
    font-size: large;
    text-align: center;
    margin: 30px auto;
  }
  .container-empty {
    text-align: center;
  }
  .container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .item {
    display: flex;
    flex-direction: row;
    /* margin:10px auto; */
    width: 100%;
    min-height: 120px;
  }
  .image {
    width: 100px;
    max-height: 100px;
  }
  .details {
    margin-left: 10px;
    width: 100%;
  }
  .number {
    width: 50px;
    margin-right: 10px;
  }
  .number input {
    text-align: center;
  }
  .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    box-sizing: border-box;
    font-size: large;
    margin-top: 30px;
  }
  .quantity {
    display: flex;
    flex-direction: row;

  }
  .price {
    display: flex;
    justify-content: flex-end;
  }
  .caption {
    margin: 0 50px;
  }
  .checkout {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
