<h3 class="title">Shopping Cart</h3>
<div class="container-empty" *ngIf='cartItems.length === 0'>
  Cart is empty!
</div>
<div class="container" *ngIf='cartItems.length > 0'>
  <div class="item" *ngFor='let item of cartItems'>
    <img class='image' [src]="item.imageUrl" [alt]="item.name">
    <div class="details">
      <div class="name">
        {{ item.name | limit: limit }}
      </div>
      <div class="quantity">
        <div class="control">
          <mat-form-field class="number">
            <input type="number" (input)='onChange(item.id, $event.target.value)' matInput [value]='item.quantity'
              min="1">
          </mat-form-field>
          <button mat-icon-button color='primary' type="button" (click)='onAdd(item.id)'>
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button color='primary' type="button" (click)='onRemove(item.id, item.quantity)'>
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
      <div class="price">
        <app-price [id]='item.id'></app-price>
      </div>
    </div>
    <div class="button">
      <button mat-icon-button color='warn' (click)='onDelete(item.id)'>
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <!-- <hr>
  <div class="cupon">
    <mat-form-field>
      <input matInput type="text" placeholder="Cupon" #input>
    </mat-form-field>
    <button mat-raised-button (click)='applyCupon(input.value)'>
      <mat-icon>add</mat-icon> Apply Cupon
    </button>
  </div> -->
  <hr>
  <div class="total">
    <div class="caption">Total:</div>
    <div class="value">{{ total + ' $' }}</div>
  </div>
  <div class='checkout'>
    <button mat-raised-button type='button' color='primary'>
      <mat-icon class="icon">checkout</mat-icon> Checkout
    </button>
  </div>
</div>
