@media (max-width: 599.98px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
  }
  .main-category {
    border-radius: 4px;
    min-width: 150px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .main-category:focus {
    outline: none;
  }
}

@media (min-width: 600px) and (max-width: 959.98px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
  }
  .main-category {
    border-radius: 4px;
    min-width: 150px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .main-category:focus {
    outline: none;
  }
}

@media (min-width: 960px) and (max-width: 1279.98px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
  }
  .main-category {
    border-radius: 4px;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .main-category:focus {
    outline: none;
  }
}

@media (min-width: 1280px) and (max-width: 1919.98px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
  }
  .main-category {
    border-radius: 4px;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .main-category:focus {
    outline: none;
  }
}

@media (min-width: 1920px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
  }
  .main-category {
    border-radius: 4px;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-category:focus {
    outline: none;
  }
}
