.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.title {
  margin-top: 30px;
}
.name {
  margin-left: 10px;
  max-width: 500px;
}
.image {
  width: 120px;
  box-sizing: border-box;
}
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr;
  column-gap: 10px;
  margin: 10px 0px;
}
.quantity {
  text-align: center;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 30px;
}
.line {
  width: 90%;
  border-bottom: 1px solid lightblue;
  margin: 30px 0;
}
.total-before-discount {
  text-decoration: line-through;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 115px;
}
.total div {
  margin: 0px 10px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr;
  column-gap: 10px;
  margin: 10px 0px;
}
.one {
  width: 120px;
}
.two {
  margin: 10px 0px;
}
.three {
  text-align: center;
}
.four {
  text-align: left;
  padding-left: 30px;
}
.title-2 {
  margin-right: 30px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.line-2 {
  margin: 10px 0px;
  width: 100%;
  height: 20px;
}
.confirm {
  margin: 30px 0px;
}
